@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Defalut Colors */
:root {
  --accent-color: 114, 92, 255;
}

/* Light Mode Colors */
:root[data-theme="light"] {
  --bg-primary-color: 255, 255, 255;
  --bg-secondary-color: 245, 246, 250;
  --bg-color-3: 247, 248, 250;
  --text-primary-color: 34, 47, 54;
  --text-secondary-color: 151, 164, 194;
  --text-color-3: 10, 10, 10;
  --icon-color: 97, 116, 143;
  --border-color: 230, 240, 242;
}

/* Dark Mode Colors */
:root[data-theme="dark"] {
  --bg-primary-color: 35, 34, 38;
  --bg-secondary-color: 24, 23, 26;
  --bg-color-3: 47, 46, 51;
  --text-primary-color: 212, 212, 212;
  --text-secondary-color: 146, 146, 148;
  --text-color-3: 240, 245, 248;
  --icon-color: 167, 167, 168;
  --border-color: 58, 58, 61;
}

body {
  background-color: rgb(var(--bg-secondary-color));
  font-family: "Quicksand", serif;
}

.dashboard-btn-primary {
  @apply flex items-center rounded border border-accent-color px-5 py-1 text-xs text-accent-color hover:bg-accent-color hover:text-text-primary-color;
}
.dashboard-btn-secondary {
  @apply flex items-center rounded border border-accent-color bg-accent-color px-5 py-1 text-xs text-text-primary-color hover:bg-accent-color;
}

.select {
  @apply relative appearance-none rounded border border-accent-color bg-transparent px-2 py-[2px] text-sm text-text-primary-color outline-none;
}

.option {
  @apply appearance-none bg-bg-primary-color text-sm text-text-secondary-color;
}

.scrollbar::-webkit-scrollbar {
  height: 3px;
}

.scrollbar::-webkit-scrollbar-track {
  background-color: rgb(var(--bg-primary-color));
  border-radius: 4px;
  background: rgb(var(--icon-color));
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: rgb(var(--accent-color));
  border-radius: 4px;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}
